@import "../styles/variables.scss";

.timerTitle {
  direction: ltr !important;
}
.timerSubtitle {
  font-size: var(--title-font);
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 20px;
  div {
    display: block;
    width: 1px;
    background-color: var(--text-color);
    margin: 0 20px;
  }
}

.timerDetails {
  font-size: calc(var(--title-font));
  svg {
    width: calc(var(--title-font)) !important;
  }
  z-index: 2;
}
.progressValue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: var(--progress-height);
  line-height: 1rem;
  font-weight: bold;
  color: white;
}
.progress {
  height: var(--progress-height);
  direction: ltr !important;
}
.progressContainer {
  margin: var(--progress-margin);
}

.timeContainer {
  display: inline-flex;
  flex-direction: column;
  line-height: 1;
  margin-bottom: 20px;
}
.timeTitle {
  width: var(--clock-font);
  font-family: var(--clock-font-family);
  margin-bottom: 20px;
  font-size: var(--clock-font);
}

.title {
  font-family: var(--clock-font-family);
  margin-bottom: 20px;
  font-size: var(--clock-font);
}
.timeSubtitle {
  font-size: var(--size-4);
  position: relative;
  bottom: 0;
}

.timeSeparator {
  font-family: var(--clock-font-family);
  font-size: var(--clock-font);
}
