.title {
    font-size: 5rem;
}

.subtitle {
    font-size: 3rem;
}

.iconContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    .icon {
        font-size: 8rem;
    }
    .title {
        font-size: 2rem;
    }
}