@import "variables.scss";
// @import "../node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Oswald:wght@700&display=swap');
@import "bulma/bulma";

@media only screen and (max-width: 600px) {
  :root {
      --title-font: 2rem;
      --clock-font: 5rem;
      --progress-margin: 24px;
      --progress-height: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  :root {
      --title-font: 3rem;
      --clock-font: 8rem;
      --progress-margin: 24px;
      --progress-height: 1rem;

  }
}
@media only screen and (min-width: 1200px) {
  :root {
      --title-font: 3rem;
      --clock-font: 10rem;
      --progress-margin: 0 auto;
      --progress-height: 1.5rem;

  }
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Open Sans';
  overflow: auto;
}
#__next {
  height: 100%;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ellipse {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.is-fullheight {
  min-height: 100%;
  height: 100%;
}
.hero.is-fullheight-with-navbar {
  margin-top: $navbar-height;
  scroll-margin-top: $navbar-height;
}
.navbar-margin-top {
  margin-top: $navbar-height;
  scroll-margin-top: $navbar-height;
}
.mt-a {
  margin-top: auto;
}
.ml-a {
  margin-left: auto;
}
.mr-a {
  margin-right: auto;
}
.mb-a {
  margin-bottom: auto;
}
.mx-a {
  margin-left: auto;
  margin-right: auto;
}
.my-a {
  margin-top: auto;
  margin-bottom: auto;
}

.arabic {
  font-family: "Amiri";
}
.has-background-dark {
  .switchColor, .switchColor>* {
    color: white;
  }
  a {
    color: white;
  }
  a:hover {
    color: white;
  }
  .tabs {
    a:hover {
      border-bottom: 1px black solid !important;
    }

  }
}
.footer {
  a:hover {
    color: white;
    border-bottom: 1px white solid !important;
  }
  
}
.has-background-light {
  .switchColor {
    color: black;
  }
  a {
    color: white;
  }
  a:hover {
    color: white;
    border-bottom: 1px white solid i !important;
  }
  
  .tabs {
    a {
      color: black;
    }
  }
}

.seperator {
  height: 0;
  border-top: 2px dashed whitesmoke;
  background-color: transparent;
}