@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Oswald:wght@700&family=Amiri:wght@400&display=swap");
@import "bulma/bulma";

@font-face {
  font-family: Jameel;
  src: url("/fonts/Jameel.ttf");
}
@font-face {
  font-family: "Gulmarg Narqalam";
  src: url("/fonts/Narqalam.ttf");
}
:root {
  --font-family: "Open Sans";
  --clock-font-family: "Oswald";
  --clock-font: 14rem;
  --font-factor: 0rem;
  --size-1: calc(3rem + var(--font-factor));
  --size-2: calc(2.5rem + var(--font-factor));
  --size-3: calc(2rem + var(--font-factor));
  --size-4: calc(1.5rem + var(--font-factor));
  --size-5: calc(1.25rem + var(--font-factor));
  --size-6: calc(1rem + var(--font-factor));
  --size-7: calc(0.75rem + var(--font-factor));
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --text-color: #000000;
  --text-invert: #ffffff;
  --background: #eceef8;
}

@media only screen and (max-width: 600px) {
  :root {
    --title-font: 1.5rem;
    --clock-font: 5rem;
    --progress-margin: 24px;
    --progress-height: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  :root {
    --title-font: 2rem;
    --clock-font: 10rem;
    --progress-margin: 24px;
    --progress-height: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  :root {
    --title-font: 2.5rem;
    --clock-font: 14rem;
    --progress-margin: 0 auto;
    --progress-height: 1.5rem;
  }
}
[lang="ur"],[lang="kmr"] {
  --font-family: "Jameel";
  --clock-font-family: "Jameel";
  font-weight: normal !important;
  --font-factor: 0.25rem;
  --size-1: calc(3rem + var(--font-factor));
  --size-2: calc(2.5rem + var(--font-factor));
  --size-3: calc(2rem + var(--font-factor));
  --size-4: calc(1.5rem + var(--font-factor));
  --size-5: calc(1.25rem + var(--font-factor));
  --size-6: calc(1rem + var(--font-factor));
  --size-7: calc(0.75rem + var(--font-factor));
  --weight-light: 400;
  --weight-normal: 400;
  --weight-medium: 400;
  --weight-semibold: 400;
  --weight-bold: 400;
  font-size: var(--size-6);
  direction: rtl;
  @media only screen and (max-width: 600px) {
    --title-font: 1rem;
    --clock-font: 4rem;
  }
  @media only screen and (min-width: 600px) {
    --title-font: 1.5rem;
    --clock-font: 8rem;
    
  }
  @media only screen and (min-width: 1200px) {
    --title-font: 2rem;
    --clock-font: 10rem;
  }
  // @media only screen and (min-width: 1024px) {
  //   .navbar {
  //     min-height: 5rem;
  //   }
  // }
}
[lang="kmr"] {
  --font-family: "Gulmarg Narqalam";
}
.amiri,
  .amiri > * {
    --font-family: "Amiri";
  }
[data-theme="dark"] {
  --text-color: #ffffff;
  --text-invert: #000000;
  --background: #131836;
}
.footer,
.navbar {
  --text-color: #ffffff;
  --text-invert: #ffffff;
}
.footer a {
  border-bottom: 1px solid white;
}

.container {
  --text-invert: var(--text-color);
  a {
    border-bottom: 1px solid var(--text-color);
  }
  .tabs {
    .is-active {
      a {
        border-bottom: 1px solid var(--text-color);
      }
    }
    a {
      border-bottom: none;

      &:hover {
        border-bottom: 1px solid var(--text-color);
      }
    }
  }
}
.select select {
  color: black;
}
select,
.control,
.select select,
label.label {
  font-family: inherit;
}


html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
  font-size: var(--size-6);
}
#__next {
  height: 100%;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}
* {
  box-sizing: border-box;
  margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a {
  text-decoration: none;
}
hr {
  background-color: var(--text-color);
}

.mt-a {
  margin-top: auto;
}
.ml-a {
  margin-left: auto;
}
.mr-a {
  margin-right: auto;
}
.mb-a {
  margin-bottom: auto;
}
.mx-a {
  margin-left: auto;
  margin-right: auto;
}
.my-a {
  margin-top: auto;
  margin-bottom: auto;
}

ul.icons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  li {
    margin: 0 10px;
  }
  a {
    border-bottom: none;
  }
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background);
}
::-webkit-scrollbar-track-piece {
  background-color: var(--background);
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $primary; 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: $dark; 
}

.time {
  font-family: var(--clock-font-family);
}