@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Oswald:wght@700&display=swap');
@import "bulma/bulma";

@font-face {
  font-family: Fajer;
  src: url("/fonts/Fajer.ttf")
}
@font-face {
  font-family: Jameel;
  src: url("/fonts/Jameel.ttf")
}
:root {
  --font-family: "Open Sans";
  --clock-font-family: "Oswald";
  --font-factor: 0rem;
  --size-1: calc(3rem + var(--font-factor));
  --size-2: calc(2.5rem + var(--font-factor));
  --size-3: calc(2rem + var(--font-factor));
  --size-4: calc(1.5rem + var(--font-factor));
  --size-5: calc(1.25rem + var(--font-factor));
  --size-6: calc(1rem + var(--font-factor));
  --size-7: calc(0.75rem + var(--font-factor));
  --weight-light:	300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
}
select,.control, .select select,label.label {
  font-family: inherit;
}
@media only screen and (max-width: 600px) {
  :root {
      --title-font: 2rem;
      --clock-font: 5rem;
      .arabic {
        --clock-font: 4.5rem;
      }
      --progress-margin: 24px;
      --progress-height: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  :root {
      --title-font: 3rem;
      --clock-font: 8rem;
      .arabic {
        --clock-font: 10rem;
      }
      --progress-margin: 24px;
      --progress-height: 1rem;

  }
}
@media only screen and (min-width: 1200px) {
  :root {
      --title-font: 3rem;
      --clock-font: 10rem;
      .arabic {
        --clock-font: 12rem;
      }
      --progress-margin: 0 auto;
      --progress-height: 1.5rem;

  }
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
  font-size: var(--size-6);
}
#__next {
  height: 100%;
  // min-height: 100%;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}
*>* {
  font-family: var(--font-family);
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ellipse {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.is-fullheight {
  min-height: 100%;
  height: 100%;
}

.mt-a {
  margin-top: auto;
}
.ml-a {
  margin-left: auto;
}
.mr-a {
  margin-right: auto;
}
.mb-a {
  margin-bottom: auto;
}
.mx-a {
  margin-left: auto;
  margin-right: auto;
}
.my-a {
  margin-top: auto;
  margin-bottom: auto;
}

.arabic,.arabic>* {
  --font-family: "Jameel";
  --clock-font-family: "Jameel";
    font-weight: normal;
  --font-factor: 1rem;
  --size-1: calc(3rem + var(--font-factor));
  --size-2: calc(2.5rem + var(--font-factor));
  --size-3: calc(2rem + var(--font-factor));
  --size-4: calc(1.5rem + var(--font-factor));
  --size-5: calc(1.25rem + var(--font-factor));
  --size-6: calc(1rem + var(--font-factor));
  --size-7: calc(0.75rem + var(--font-factor));
  --weight-light:	400;
  --weight-normal: 400;
  --weight-medium: 400;
  --weight-semibold: 400;
  --weight-bold: 400;
    font-size: var(--size-6);
  direction: rtl;
  .navbar {
    min-height: 5rem;
  }
  // font-family: "Amiri" !important;
}
.has-background-dark {
  .switchColor, .switchColor>* {
    color: white !important;
  }
  a {
    color: white;
  }
  a:hover {
    color: white;
  }
  .tabs {
    a:hover {
      border-bottom: 1px black solid !important;
    }

  }
}
.footer {
  a:hover {
    color: white;
    border-bottom: 1px white solid !important;
  }
  
}
.has-background-light {
  .switchColor {
    color: black;
  }
  a {
    color: white;
  }
  a:hover {
    color: white;
    border-bottom: 1px white solid i !important;
  }
  
  .tabs {
    a {
      color: black;
    }
  }
}

.seperator {
  height: 0;
  border-top: 2px dashed whitesmoke;
  background-color: transparent;
}

.table {
  background-color: transparent;

}

.timeContainer {
  display: inline-flex;
  flex-direction: column;
  line-height: 1;
  
}
.timeTitle {
  font-family: var(--clock-font-family);
}
.timeSubtitle {
  font-size: var(--size-4);
  position: relative;
  bottom: 0;
}