@charset "utf-8";

$material-deep-purple-500: #673AB7;
$material-deep-purple-900: #311B92;
$material-deep-purple-a700: #6200EA;
$material-indigo-500: #3F51B5;
$material-indigo-900: #5967fd;
$material-grey-400: #BDBDBD;
$timer-title-font-size: 12rem;
$timer-subtitle-font-size: 2.5rem;

$primary: $material-deep-purple-900;
$light: #eceef8;
$dark: #131836;

$footer-padding: 1rem 1.5rem;
$navbar-item-hover-background-color: $dark;
$navbar-dropdown-background-color: $primary;
$footer-background-color: $primary;
$progress-bar-background-color: #9575CD;
$tabs-border-bottom-color: $primary;
$modal-card-head-background-color: $primary;
$modal-card-title-color: white;
$table-background-color: transparent;

$size-1: var(--size-1);
$size-2: var(--size-2);
$size-3: var(--size-3);
$size-4: var(--size-4);
$size-5: var(--size-5);
$size-6: var(--size-6);
$size-7: var(--size-7);

$weight-light:	var(--weight-light);
$weight-normal: var(--weight-normal);
$weight-medium: var(--weight-medium);
$weight-semibold: var(--weight-semibold);
$weight-bold: var(--weight-bold);

$text: var(--text-color);
$text-strong: var(--text-color);
$link: var(--text-color);
$link-hover: var(--text-invert);
$link-active: var(--text-invert);

$modal-card-body-background-color: var(--background);